(
    selected_tab: Rgb(224, 222, 244),
    command_fg: Rgb(246, 193, 119),
    selection_bg: Rgb(64, 61, 82),
    cmdbar_extra_lines_bg: Yellow,
    disabled_fg: Rgb(144, 140, 170),
    diff_line_add: Rgb(156, 207, 216),
    diff_line_delete: Rgb(235, 111, 146),
    diff_file_added: Rgb(156, 207, 216),
    diff_file_removed: Rgb(235, 111, 146),
    diff_file_moved: Rgb(196, 167, 231),
    diff_file_modified: Rgb(246, 193, 119),
    commit_hash: Rgb(196, 167, 231),
    commit_time: Rgb(235, 188, 186),
    commit_author: Rgb(49, 116, 143),
    danger_fg: Rgb(235, 111, 146),
    push_gauge_bg: Red,
    push_gauge_fg: Blue,
)